$swissred: rgba(237, 73, 51, 0.5);
$placeholderGrey: rgba(145, 146, 147, 0.3);
$viewFeedSourcesDarkGrey: rgb(84,85,88);
$viewFeedSourcesMidGrey: rgb(190,190,192);
$viewFeedSourcesLightGrey: rgb(200,200,201);
$viewFeedSourcesBgBlack: rgb(42,43,47);
$facebookDarkBlue: rgba(59, 89, 152, 1);
