@import 'colors';

@font-face {
    font-family: 'icomoon';
    src:font-url('icomoon.eot');
    src:font-url('icomoon.eot?#iefix') format('embedded-opentype'),
        font-url('icomoon.woff') format('woff'),
        font-url('icomoon.ttf') format('truetype'),
        font-url('icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* One class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.icon-bookmark:before {
    content: "\e900";
}
.icon-star-empty:before {
    content: "\e901";
}




/* MAIN WINDOWS */
.main {
  position: relative;
  z-index: 0;
}

.sideBarShow {
  width: 22em;
  padding: 0.5em 1.5em;
  background: $viewFeedSourcesBgBlack;
  color: #fff;
  height: 100vh;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  transition: width 0.3s ease-in;
}

.sideBarShowTransition {
  width: 3em;
}


.sideBarContent {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.sideBarContentTransition {
  opacity: 0;
}

#feedOptions:before {
  display: block;
  content: '';
  width: 22em;
  border: none;
  color: white;
  height: 2px;
  background: $placeholderGrey;
  margin: 0;
}

#feedOptions {
  background: $viewFeedSourcesBgBlack;
  height: 4em;
  position: fixed;
  bottom: 0;
  left: 0;
}

#feedOptionsContents {
  padding: 0.5em;
  height: 4em;
}

#feedOptionsLogout {
  cursor: pointer;
}

#feedOptionsLogout:hover {
  text-decoration: underline;
}

#feedOptionsContents * {
  display: inline-block;
  vertical-align: top;
}

#feedOptionsAvatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 0.1em solid;
  margin: 0 0.5em 0 0;
}

#feedOptionsText {
  height: 3em;
}

#feedOptionsText div {
  display: block;
  height: 1.5em;
  vertical-align: middle;
  line-height: 1.5em;
}

#feedOptionsScrollPlaceholder {
  height: 4em;
}


.viewFeeds {
  font-size: 12px;
  color: black;
  box-sizing: border-box;
  display: block;
  width: calc(100%-22em);
  padding: 0.5em 2.5em;
  overflow-y: scroll;
  height: 100vh;
}

.viewFeedsHeader {
  display: flex;
  flex-direction: row;
  height: 4em;
  line-height: 4em;
}

.viewFeedsHeaderContainer {
  margin: 1.2em 0 1.5em 0;
}

.viewFeedsHeaderSubTitle {
  margin-top: -1.2em;
  color: rgba(180,179,178, 1);
}

.viewFeedsHeader.scrollView {
  visibility: hidden;
}

.viewFeedsHeader * {
  display: inline-block;
}

// .viewFeedsHeader .inputIcon {
//   position: relative;
//   width: 15em;
//   height:2.5em
// }


#viewFeedsHeaderTitle {
  font-size: 26px;
  font-weight: 700;
  vertical-align: middle;
  flex-shrink: 1;
}

.viewFeedsHeaderNav input[type="text"] {
  margin: 0;
  height: 2.5em;
  font-size: 12px;
  vertical-align: middle;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewFeedsHeaderNav {
  margin-left: auto;
  display: inline-block;
  flex-shrink: 0;
  line-height: 4em
}

.viewFeedsHeaderNav li {
  width: 1em;
  margin: 0 1em 0 0;
  position:relative;
}

.viewFeedsHeaderNav li:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.viewFeedsHeaderNav * {
  padding: 0;
  margin: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.viewFeedsNav {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  height: 4em;
  line-height: 4em;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 2.5em;
  border-bottom: 1px solid rgba(239,239,239, 1);
  background-color: white;
  visibility: hidden;

  width: calc(100% - 22em);
  transition: width 0.3s ease-in;
}

.viewFeedsNav.scrollView {
  visibility: visible;
}

.expandLeft {
  width: calc(100% - 3em);
}

#viewFeedsNavTitle {
  font-size: 13px;
  font-weight: 700;
  vertical-align: middle;
}

.viewFeedsNavSubTitle {
  color: rgba(180,179,178, 1);
  padding-left: 0.5em;
}

.viewFeedsNav .viewFeedsHeaderNav {
  font-size: 10px;
}


/* Pin button */
#pinButtonRow {
  display: block;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}

#pinButton {
  border: 0.15em solid $viewFeedSourcesMidGrey;
  border-radius: 1px;
  padding: 0 1em;
  line-height: 2em;
  background: transparent;
  color: $viewFeedSourcesMidGrey;
  opacity: 0.5;
  font-size: 10px;
  display: inline-block;
}

#pinButton:hover {
  color: $viewFeedSourcesLightGrey;
  opacity: 1;
}

/* FeedSourceItem */
.feedSourceItem, .categoryItem {
  cursor: pointer;
  position: relative;
  width: 19em;
  height: 2em;
}

.category {
  margin-bottom: 0.3em;
}

.categoryItem * {
  vertical-align: middle;
}

.feedSourceItem span {
  vertical-align: middle;
}

.categoryItem {
  color: $viewFeedSourcesMidGrey;
}

.feedSourceItem {
  color: $viewFeedSourcesLightGrey;
}

.verticalCenter {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.categoryIcon {
  font-size: 1.5em;
  color: $viewFeedSourcesDarkGrey;
  display: inline-block;
}

#loadingIcon {
  margin: 0.5em;
}

#loadingIcon * {
  vertical-align: middle;
  display: inline-block;
  color: $viewFeedSourcesDarkGrey;
}

#loadingDiv {
  font-size: 1.2em;
}

#loadingIconText {
  padding: 0 0 0 0.3em;
}

#endOfScroll {
  height: 5em;
}

#generalCategories {
  margin-bottom: 1em;
}

.categoryIcon:hover {
  color: $viewFeedSourcesMidGrey;
}

#categoryTitle {
  box-sizing: content-box;
  font-weight: 500;
  display: inline-block;
}

.categoryItem > * {
  padding: 0.2em;
}

.feedSourceItem > * {
  padding: 0.4em;
}

.feedSourceItem {
  padding-left: 2.2em;
}

.feedSourceItemCount {
  position: absolute;
  right: 0;
  font-size: 10px;
  display: inline-block;
}

/* Feed Formatting */
$feedItemHeight: 2.2em;

.feedTitle {
  border-top: 1px solid rgba(239, 239, 239, 1);
  cursor: pointer;
  height: $feedItemHeight;
  font-size: 13px;
  overflow: hidden;
}

.feedTitle.unread {
  font-weight: 600;
}

.feedTitleHover:hover {
  background-color: rgba(230, 230, 230, 0.5);
}

.feedTitle .categoryIcon {
  font-size: 1em;
  width: 5%;
  color: rgba(119, 119, 119, 1);
}

.feedTitle > span {
  line-height: $feedItemHeight;
  vertical-align: middle;
  display: inline-block;
}

.feedTitle .summary {
  font-weight: 400;
  font-size: 12px;
  color: rgba(119, 119, 119, 1);
  padding-left: 1em;
}

.feedTitle .title {
  width: 92%;
  height: $feedItemHeight;
}

.feedTitle .titleWithFeedSource {
  width: 80%;
  height: $feedItemHeight;
}

.feedTitle .feedTitleFeedSource {
  width: 12%;
  height: $feedItemHeight;
  font-weight: 400;
  font-size: 12px;
  color: rgba(119, 119, 119, 1);
}

.feedTitle .daysOld {
  width: 3%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  color: rgba(119, 119, 119, 1);
}

.daysOld {
  padding-right: 0.3em;
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
  font-size: 30px;
  color: red;
}

.icon-alone {
  display: inline-block; /* Chrome 19 was weird with clickability without this */
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.summary {
  font-size: 12px;
  font-weight: 400;
}


.form-group {
  padding: 5px;
}

.savedForLater {
  background-color: rgba(243,250,242, 1);
}

.bookMarkHighlight:before {
  color: green;
}

/* ADD NEW FEEDSOURCE BUTTON */
button {
  float: left;
  padding: 5px 10px;
  color: #000;
  background: #fff;
  font-weight: 700;
  border-radius: 5px;
  /* box-shadow: 0 3px 0 0 #000; */
}

button:active {
  background: #000;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 3px #000;
}

button:focus {
  outline: none;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.input > input:focus,
.input > textarea:focus {
  border-color: #0c0;
}

.input > textarea {
  height: 120px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}


.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #000;
  background: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 3px 0 0 #fff;
}

.submit > button:hover {
  background: #000;
  color: #fff
}

.submit > button:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}

.submit > div > strong {
  height: 39px;
}

.button-alternative {
  padding: 0 0 0 5px;
}

.button-alternative strong {
  padding: 0px 0px 0px 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-alternative strong:hover {
  color: #f00;
}

/* MODAL */
.modal {
  color: #000;
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
