@import 'colors';

/* MAIN WINDOWS */
.main {
  position: relative;
  z-index: 0;
}

.sideBarShow {
  width: 22em;
  padding: 0.5em 1.5em;
  background: $viewFeedSourcesBgBlack;
  color: #fff;
  height: 100vh;
  font-size: 12px;
  font-weight: 300;
  position: relative;
  float: left;
  transition: width 0.3s ease-in;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sideBarShowTransition {
  width: 3em;
}


.sideBarContent {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.sideBarContentTransition {
  opacity: 0;
}

.viewFeeds {
  font-size: 12px;
  color: black;
  box-sizing: border-box;
  display: block;
  width: calc(100%-22em);
  padding: 0.5em 1.5em;
  overflow-y: scroll;
  height: 100vh;
}

.viewFeedsHeader {
  display: flex;
  flex-direction: row;
  margin: 2em 0 2em 0;
  height: 4em;
  line-height: 4em;
}


.viewFeedsHeader * {
  vertical-align: middle;
  display: inline-block;
}

.viewFeedsHeaderNav input[type="text"] {
  margin: 0;
  height: 2.5em;
  font-size: 12px;
}

#viewFeedsHeaderTitle {
  font-size: 30px;
  font-weight: 700;
  vertical-align: middle;
}

.viewFeedsHeaderNav {
  align-self: flex-end;
  margin-left: auto;
  display: inline-block;
}

.viewFeedsHeaderNav li {
  margin: 0 1em 0 0;
}

.viewFeedsHeaderNav * {
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Pin button */
#pinButtonRow {
  display: block;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}

#pinButton {
  border: 0.15em solid $viewFeedSourcesMidGrey;
  border-radius: 1px;
  padding: 0 1em;
  line-height: 2em;
  background: transparent;
  color: $viewFeedSourcesMidGrey;
  opacity: 0.5;
  font-size: 10px;
  display: inline-block;
}

#pinButton:hover {
  color: $viewFeedSourcesLightGrey;
  opacity: 1;
}

/* FeedSourceItem */
.feedSourceItem, .categoryItem {
  cursor: pointer;
  position: relative;
  width: 22em;
}

.category {
  margin-bottom: 0.3em;
}

.categoryItem * {
  vertical-align: middle;
}

.feedSourceItem span {
  vertical-align: middle;
}

.categoryItem {
  color: $viewFeedSourcesMidGrey;
}

.feedSourceItem {
  color: $viewFeedSourcesLightGrey;
}


.verticalCenter {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.categoryIcon {
  font-size: 1.5em;
  color: $viewFeedSourcesDarkGrey;
  display: inline-block;
}

#generalCategories {
  margin-bottom: 1em;
}

.categoryIcon:hover {
  color: $viewFeedSourcesMidGrey;
}

#categoryTitle {
  box-sizing: content-box;
  font-weight: 500;
  display: inline-block;
}

.categoryItem > * {
  padding: 0.2em;
}

.feedSourceItem > * {
  padding: 0.4em;
}

.feedSourceItem {
  padding-left: 2.2em;
}

.feedSourceItemCount {
  position: relative;
  right: 0;
  font-size: 10px;
  display: inline-block;
}

/* Feed Formatting */

.feedTitle {
  border-top: 1px solid rgba(255, 0, 0, 0.3);
  cursor: pointer;
  height: 29px;
  font-size: 14px;
  font-weight: 900;
  overflow: hidden;
}

.feedTitle > span {
  line-height: 29px;
  vertical-align: middle;
}

.feedTitle:last-of-type {
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.summary {
  font-size: 12px;
  font-weight: 400;
}


.form-group {
  padding: 5px;
}

/* ADD NEW FEEDSOURCE BUTTON */
button {
  float: left;
  padding: 5px 10px;
  color: #000;
  background: #fff;
  font-weight: 700;
  border-radius: 5px;
  /* box-shadow: 0 3px 0 0 #000; */
}

button:active {
  background: #000;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 3px #000;
}

button:focus {
  outline: none;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  display: block;
  font-weight: 700;
  padding: 0 0 5px 0;
}

.input > input,
.input > textarea {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}

.input > input:focus,
.input > textarea:focus {
  border-color: #0c0;
}

.input > textarea {
  height: 120px;
}

.submit {
  margin: 20px 0 0 0;
  padding: 0 0 3px 0;
}


.submit > button {
  position: relative;
  padding: 10px 20px;
  color: #000;
  background: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 0 3px 0 0 #fff;
}

.submit > button:hover {
  background: #000;
  color: #fff
}

.submit > button:active {
  top: 3px;
  background: #0a0;
  box-shadow: none;
}

.submit > div > strong {
  height: 39px;
}

.button-alternative {
  padding: 0 0 0 5px;
}

.button-alternative strong {
  padding: 0px 0px 0px 5px;
  font-weight: bold;
  cursor: pointer;
}

.button-alternative strong:hover {
  color: #f00;
}

/* MODAL */
.modal {
  color: #000;
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
