

.header {
  position: relative;
  float: right;
  background: rgba(255, 0, 0, 0.3);
  color: #fff;
  margin: 0 auto;
  width: 100%;
  z-index: 1003;
}

.header a {
 display: block;
 padding: 10px 20px;  /* top/bottom and left/right */
}

.header-logo {
 float: left;
 border-right: 1px solid #fff;
 font-weight: 700;
}

.header-list {
 float: right;
}

.header-list > li {
 float: left;
 border-left: 1px solid #ccc;
 cursor: pointer;
}
